li {
    padding: 20px;
}

ul {
    padding: 0px;
}

.list-item-global {
    background-color: rgba(15, 202, 170, 1);
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.list-item-global:hover {
    background-color: #16A58D;
}

.list-container li.list-item-cat {
    background-color: rgba(15, 202, 170, 0.60);
    width: 98%;
    position: relative;
    left: 2%;
    height: 50px;
}

.list-container li.list-item-cat:hover {
    background-color: #16A58D;
}

.list-item-question {
    border: solid 2px black;
    padding-top: 10px;
}
.list-item-question:hover {
    background-color: #16A58D;
}

.list-container {
    width: 25%;
    position: fixed;
    left: 0px;
    top: 15vh;
    min-width: 350px;
}

.list-container li {
    height: 60px;
}

.list-container li.list-item-question {
    height: 40px;
    position: relative;
    left: 4%;
    width: 96%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}