<!--side menu-->
<app-questionnaire-detail-list (stateChanged)="stateChanged($event)" [questionnaire]="questionnaire"></app-questionnaire-detail-list>

<!--The different views in the main container-->
<div class="space"></div>
<div class="detail-container" [ngSwitch]="state">
    <app-global *ngSwitchCase="states.Global" [questionnaire]="questionnaire"></app-global>
    <app-category *ngSwitchCase="states.Category" [category]="currentCategory" (onDelete)="onDelete()" [questionnaire]="questionnaire"></app-category>
    <app-question *ngSwitchCase="states.Question" (onDelete)="onDelete()" [questionnaire]="questionnaire"  [question]="currentQuestion"></app-question>
</div>