


<div class = "container">
	<div class="wrapper">
		<form (ngSubmit)="onSubmit()" class="form-signin">       
			  <img class="questo-logo" src="assets/questo_logo.png" alt="">
        <hr>
			  <input type="text" [(ngModel)]="user.username" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
			  <input type="password" [(ngModel)]="user.password" class="form-control" name="Password" placeholder="Lösenord" required=""/>     		  


			  <button class="btn btn-lg btn-green btn-block" type="Submit">Logga in</button>
        <a href="#" class="forgot-password">Jag har glömt mitt lösenord</a>  			
		</form>			
	</div>
</div>