<!-- Large modal -->

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Skapa ny användare</h4>
      </div>
      <div class="modal-body">



        <div class="row">
          <div class="form-group">
            <label for="input-share-to" class="control-label">Användarnamn</label>
            <input type="text" name="input-to" id="input-share-to" [(ngModel)]="username" placeholder="Ange ett användarnamn..." class="form-control"
              required="required">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="input-share-to" class="control-label">Email</label>
            <input type="text" name="input-to" id="input-share-to" [(ngModel)]="mail" placeholder="Ange en email..." class="form-control"
              required="required">
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="input-share-to" class="control-label">Lösenord</label>
            <input type="text" name="input-to" id="input-share-to" [(ngModel)]="password" placeholder="Ange lösenord..." class="form-control"
              required="required">
          </div>
        </div>

        <hr>

        <label> Rättigheter </label>
        <div class="rights-box"><label class="disabled">
            <input type="checkbox" [(ngModel)]="createQuestionnaires">
            Kan skapa enkäter
          </label>
          <label>
            <input type="checkbox" value="" [(ngModel)]="createUsers">
            Kan skapa nya användare
          </label>
        </div>


        <button class="btn btn-share btn-green pull-right" (click)="lgModal.show()" (click)="create()">Skapa</button>


        <!--modal body end-->
      </div>




    </div>
  </div>
</div>