.row.add-new {
    margin: 0 auto;
}

.green {
    background-color: rgba(15, 202, 170, 0.10);
}

.glyphicon.glyphicon-trash.delete-btn {
    font-size: 1.5em;
}

.sort-text {
    text-align: left;
    font-style: italic;
}
