<div class="container">

  <!--question-->
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="name-form">Frågetext</label>
      <div class="input-group name">
        <input type="text" [(ngModel)]="question.name" (change)="updateQuestion()" class="form-control" id="name-form" aria-describedby="basic-addon3">
      </div>
    </div>

  </div>


  <div class="row top-buffer">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <label for="answer-form"> Svarsalternativ </label>

      <select [ngModel]="question.answer?.id" (ngModelChange)="answerChanged($event)" class="form-control answer" name="" id="">
          <option [value]="answerSet.id" *ngFor="let answerSet of questionnaire.answers"> {{answerSet.name}}</option>
      </select>

      <app-answers [questionnaire]="questionnaire" [currentAnswerId]="question.answer?.id"></app-answers>


    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <label for="answer-form"> Delskala </label>
      <select name="" id="" id="subscale-form" [ngModel]="question.subScale?.id" (ngModelChange)="subscaleChange($event)" class="form-control answer"
        required="required">
        <option *ngFor="let sub of questionnaire.subscales" [value]="sub.id"> {{sub.name}}</option>
      </select>

      <app-subscales [questionnaire]="questionnaire"></app-subscales>

    </div>

  </div>

  <hr>

  <app-image-upload (done)="imageUploaded($event)" [id]="question.id"></app-image-upload>
  <app-audio-upload (done)="audioUploaded($event)"></app-audio-upload>
  <audio #audio *ngIf="question.audio" controls>
    <source src="{{question.audio.url}}" type="audio/mpeg"> Your browser does not support the audio element.
  </audio>
  <hr>


  <app-question-preview [question]="question"></app-question-preview>
  <div class="text-center"> <button type="button" (click)="delete()" class="btn btn-danger">Radera Fråga</button></div>


</div>