<div class="container">
  <h2>Inställningar för quetion</h2>

  <!--name-->
  <label for="name-form">Namn</label>
  <div class="input-group name">
    <input type="text" class="form-control" id="name-form" aria-describedby="basic-addon3">
  </div>

  <!--description-->
  <label for="desc-form">Beskrivning av formulär</label>
  <div class="input-group description">
    <textarea name="" id="desc-form" class="form-control" rows="3" required="required"></textarea>
  </div>

  <hr>


  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      <strong> Samma svarsalternativ för alla frågor </strong> <br>
Om detta alternaitv är markerat kommer du inte kunna välja svaralternativ för varje enskild fråga.
    </label>
  </div>


  <select name="" id="" class="form-control answer" required="required">
    <option value=""> Ja/nej</option>
    <option value=""> Ja/nej/kanske</option>
  </select>
  <a class="edit-answers"> Redigera svarsalternativ </a>

  <hr>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      <strong> Använd delskalor när resultat presenteras
 </strong> <br>
Om detta alternaitv är markerat kommer kunna välja en delskala till varje fråga som används när 
resultat presenteras i appen. 
   </label>
  </div>
  <a class="edit-answers"> Redigera delskalor </a>

  <hr>

  <div class="text-center"> <button type="button" class="btn btn-danger">Radera enkät</button></div>
  


</div>