<div class="container">

  <!--question-->
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="name-form">Frågetext</label>
      <div class="input-group name">
        <input type="text" [(ngModel)]="question.name" class="form-control" id="name-form" aria-describedby="basic-addon3">
      </div>
    </div>

  </div>


  <div class="row top-buffer">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <label for="answer-form"> Svarsalternativ </label>
      <select name="" id="" id="answer-form" class="form-control answer" required="required">
        <option value=""> Ja/nej</option>
        <option value=""> Ja/nej/kanske</option>
      </select>
      <a class="edit-answers"> Redigera svarsalternativ </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <label for="answer-form"> Delskala </label>
      <select name="" id="" id="subscale-form" class="form-control answer" required="required">
        <option value=""> Ja/nej</option>
        <option value=""> Ja/nej/kanske</option>
      </select>
      <a class="edit-answers"> Redigera delskalor </a>
    </div>

  </div>

  <hr>

  <app-image-upload (done)="reloadImage()" [type]="'question'" [id]="question.id"></app-image-upload>

  <hr>

  <div class="text-center"> <button type="button" class="btn btn-danger">Radera Fråga</button></div>

  <app-question-preview [question]="question"></app-question-preview>


</div>