<div class="container">
  <ul class="questionnaire-list">
    <h2 class="heading"> Mina enkäter </h2>
    <li *ngFor="let q of questionnaires">
      <a class="name" (click)="goToQuestionnaire(q.id)"> {{q.name}} </a>
      <span class="pull-right">
        <button type="button" class="btn btn-blue btn-result" (click)="goToResults(q.id)">Se resultat</button>
        <app-share [questionnaire]="q"></app-share>
    </span>

      <hr>

    </li>
  </ul>
  <button type="button" class="btn btn-green pull-right" (click)="newQuestionnaire()">Ny enkät</button>
</div>


<!--<ul>
  <li *ngFor="let item of items" [contextMenu]="basicMenu" [contextMenuSubject]="item">Right Click: {{item?.name}}</li>
</ul>-->
<!--<context-menu>
  <template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
    Say hi!
  </template>
  <template contextMenuItem divider="true"></template>
  <template contextMenuItem let-item (execute)="showMessage($event.item.name + ' said: ' + $event.item.otherProperty)">
    Bye, {{item?.name}}
  </template>
</context-menu>-->