/* You can add global styles to this file, and also import other style files */

* {
    font-family: Helvetica, sans-serif;
}

.btn.btn-blue {
    background-color: rgba(15, 101, 202, 0.71);
    color: white;
    font-weight: 100;
}

.btn.btn-green {
    background-color: rgba(15, 202, 170, 0.81);
    color: white;
    font-weight: 100;
}

a {
    color: rgba(15, 202, 170, 1) !important;

}
ul {
    list-style-type: none;
}

.top-buffer {
    margin-top: 20px;
}

select {
    height: 32px;
}

.detail-container .container {
    width: 50%;
    margin: auto;
    margin-top: 6vh;
}

label {
    margin-top: 25px;
    margin-bottom: 5px;
}

.container hr {
    margin-top: 15px;
    margin-bottom: 8px;
}


/*.disabled {
    color: rgb(200, 200, 200);
}*/