<!-- Large modal -->
<a class="" (click)="lgModal.show()">Redigera svarsalternativ</a>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Redigera svarsalternativ</h4>
      </div>
      <div class="modal-body">



        <div class="row">
          <div class="input-group">

            <select [(ngModel)]="currentAnswerId" name="" id="">
              <option [value]="null" selected disabled> Välj svarsalternativ</option>

              <option [value]="answerSet.id" *ngFor="let answerSet of questionnaire.answers"> {{answerSet.name}}</option>
            </select>
            <span class="">
              <button class="btn btn-green" type="submit" (click)="addAnswerSet()">Lägg till uppsättning</button>
            </span>
          </div>
        </div>
        <hr>





        <app-edit-answers *ngIf="currentAnswerId !== null" [answer]="getAnswer()" (deleted)="answerDeleted($event)"> </app-edit-answers>





        <!--modal body end-->
      </div>




    </div>
  </div>
</div> 

