.preview-container {
    width: 200px;
    height: 150px;
    background-color: rgba(255, 255, 212, 0.64);
    margin: 10px auto;
    border: solid 1px #95989A;
    border-radius: 9px;
    text-align: center;
}

.preview-container img {
    width: 50%;
}